<div class="header">
  <div class="nav"> <a href="#" class="navButton">Empezá tu proyecto!</a> </div>
  <div class="mainHero"><img class="logo" src="{{ .Site.BaseURL }}img/logo2.png" alt="">
    <p class="logo-subtitle">(pero en el buen sentidos)</p>
    <!-- <p class="bajada">Marketing y desarrollo integral.</p> --></div>
  
  

  
    

</div>
<div class="line">
  
  <svg version="1.1" class="divider"id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 1980 200" style="enable-background:new 0 0 1980 200;" xml:space="preserve">
<style type="text/css">
  .st0{fill:#121212;}
  .st1{fill:#19555c}
  .st2{fill:#D691A6}
  }
</style>
<polygon class="st0" points="0,0 990.8,100 1981.6,0 1981.6,200 0,200 "/>
<!-- <g>
  <path class="st1" d="M899.4,140.3c15.4,35.1,50.4,59.7,91.2,59.7c55,0,99.5-44.5,99.5-99.5c0-14.2-3-27.6-8.3-39.8L899.4,140.3z"/>
  
  <g transform=" matrix(0.866, -0.5, 0.25, 0.433, 990, 80), scale(2)">
    <path d="M 0,70 A 65,70 0 0,0 65,0 5,5 0 0,1 75,0 75,70 0 0,1 0,70Z" fill="#ef98ae" transform="rotate(129.59)">
      <animateTransform fill="red" attributeName="transform" type="rotate" from="360 0 0" to="0 0 0" dur="1s" repeatCount="indefinite"></animateTransform>
    </path>
  </g>

	<path class="st1" d="M990.6,1c-55,0-99.5,44.5-99.5,99.5c0,14.2,3,27.6,8.3,39.8l182.4-79.7C1066.4,25.5,1031.4,1,990.6,1z"/>
</g> -->

</svg>

</div>
<div class="presentation-grid">
  <div class="presentationBox">
      <h1 class="presentation-title"><span class="accent">Somos</span> Terribles </h1>
      
      <p>Somos una agencia joven, descentralizada y moderna. Tratamos a cada proyecto como si fuese una obra de arte y pulimos cada detalle hasta que sea una obra maestra.</p>

      <p>Nos unimos a tu equipo logrando el impulso que faltaba.</p>

      <p><span class="accent">Terrible</span> impulso.</p>
      
  </div>
  <div class="monster"></div>

  </div>
<div class="servicesContainer">
  <div class="services">
      <div class="serviceBox">
        <p class="serviceTitle">
          Desarrollo de Web y Apps
        </p>
  
        <p class="serviceDesc">Creamos aplicaciones y sitios a medida.
           </p>
           <p>Utilizamos tecnologías de vanguardia en cada proyecto, dándole la mayor vida útil posible a tu aplicación.</p>
         </div>
  
      <div class="serviceBox">
          <p class="serviceTitle">
            Social Media
          </p>
    
          <p class="serviceDesc">Manejamos tu marca en las redes con el mismo cariño que vos. Nos encargamos de crear contenido y mimar a tu público en el día a día para lograr juntos llegar a más.</p>
        </div>
  
        <div class="serviceBox">
            <p class="serviceTitle">
              Anuncios
            </p>
      
            <p class="serviceDesc">Gestionamos, ejecutamos y optimizamos campañas hechas a medida para tu objetivo. Sean más ventas, conseguir potenciales clientes o seguidores: te tenemos cubierto.</p>
          </div>
  
  
    </div>
  </div>

  <div class="contactForm">
    <h1>Ponete en contacto con nosotros</h1>
      <form action="https://formspree.io/sevg1993@gmail.com"
      method="POST">
    <input type="text" placeholder="Nombre" name="name">
    <input type="email" placeholder="Email" name="_replyto">
    <textarea placeholder="Mensaje" tabindex="5" name="message" required></textarea>
    <input type="submit" value="Enviar">
</form>
  </div>