<div class="header">
    
  <img class="logo" src="{{ .Site.BaseURL }}img/logo2.png" alt="">
  <p class="logo-subtitle">(pero en el buen sentido)</p>
  <p class="bajada">Marketing y desarrollo integral.</p>
  
  
    

</div>
<div class="line">
  
  <svg version="1.1" class="divider" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 1364.9 122" style="enable-background:new 0 0 1364.9 122;" xml:space="preserve">
   <polygon class="st0" fill="#196068" points="1365.1,61 1115.1,5.2 682.6,62.1 250.1,5.2 0.1,61 0.1,124.2 682.6,122.2 1365.1,124.2 "/>
<polygon class="st0" fill="#3aafbc" points="1364.6,9.2 1172.4,8.7 682.4,88.7 682.4,88.2 192.4,8.2 0.1,8.7 682.4,122.2 682.4,122.7 "/>
<polygon class="st0" fill="white" points="-0.4,0.2 -0.4,124.2 1365.6,124.2 1365.6,0.2 681.6,62.2 "/>
 
</svg>

<svg class="planet" viewBox="0 0 160 160" width="160" height="160">
  
    <circle fill="#196068" cx="80" cy="80" r="50" />
    <g  transform=" matrix(0.866, -0.5, 0.25, 0.433, 80, 80)">
      <path d="M 0,70 A 65,70 0 0,0 65,0 5,5 0 0,1 75,0 75,70 0 0,1 0,70Z" fill="#ef98ae">
        <animateTransform fill="red"attributeName="transform" type="rotate" from="360 0 0" to="0 0 0" dur="1s" repeatCount="indefinite" />
      </path>
    </g>
    <path fill="#196068" d="M 50,0 A 50,50 0 0,0 -50,0Z" transform="matrix(0.866, -0.5, 0.5, 0.866, 80, 80)" />
  </svg>

<div class="servicesGrid">
  <div class="marketingCard">
    <p class="services-title">Marketing</p>
    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt recusandae perferendis veniam commodi iusto dolore obcaecati, illo at facilis quas asperiores facere dignissimos laborum! Maxime possimus perspiciatis quae a ab.</span>
  </div>
  <div class="devCard">
      <p class="services-title">Desarrollo</p>
      <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt recusandae perferendis veniam commodi iusto dolore obcaecati, illo at facilis quas asperiores facere dignissimos laborum! Maxime possimus perspiciatis quae a ab.</span>
    </div>
</div>
</div>



