<div class="header">
  <div class="nav"> <a href="#contacto" class="navButton">Empezá tu proyecto!</a> </div>
  <div class="mainHero"><h1>terrible</h1>
    <span class="bajada">(pero en el buen sentido)</span>
    </div>
  
  

  
    

</div>

<div class="presentation-blocks">
<div class="block">
<span class="fakeImg"></span>
<h3>Marketing Digital</h3>
<p>Gestionamos tu marca de principio a final, creando una identidad y estrategia que la lleve a nuevas alturas. Desde planificación hasta anuncios digitales, somos tu punto de partida para lograr más objetivos.</p>
</div>
<div class="block inverted">
  <span class="fakeImg"></span>
  <h3>Desarrollo</h3>
  <p>Creamos Web Apps, aplicaciones móviles, sitios institucionales y bots a medida. Si lo que precisás es un producto moderno y funcional, estás en buenas manos. </p>
  </div>
  <div class="block inverted">
    <span class="fakeImg"></span>
    <h3>Audiovisual</h3>
    <p>Ideamos, creamos y producimos piezas audiovisuales. Desde fotografía hasta audios y filmaciones.</p>
    </div>
    <div class="block ">
      <span class="fakeImg"></span>
      <h3>Consultoría</h3>
      <p>Asesoramos a empresarios con un enfoque en el marketing y la adminsitración, buscando entender la problemática de cada negocio y puliendo procesos. </p>
      </div>

</div>


  <div id="contacto" class="contactForm">
    <h1>Ponete en contacto con nosotros</h1>
      <form action="https://formspree.io/sevg1993@gmail.com"
      method="POST">
    <input type="text" placeholder="Nombre" name="name">
    <input type="email" placeholder="Email" name="_replyto">
    <textarea placeholder="Mensaje" tabindex="5" name="message" required></textarea>
    <input type="submit" value="Enviar">
</form>
  </div>