<div class="header">
  <img class="logo" src="{{ .Site.BaseURL }}img/logo2.png" alt="">
  <p class="logo-subtitle">(pero en el buen sentido)</p>
  <p class="bajada">Marketing y desarrollo integral.</p>
  
  

</div>

<svg version="1.1" class="divider" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 1364.9 122" style="enable-background:new 0 0 1364.9 122;" xml:space="preserve">
   <polygon class="st0" fill="#196068" points="1365.1,61 1115.1,5.2 682.6,62.1 250.1,5.2 0.1,61 0.1,124.2 682.6,122.2 1365.1,124.2 "/>
<polygon class="st0" fill="#3aafbc" points="1364.6,9.2 1172.4,8.7 682.4,88.7 682.4,88.2 192.4,8.2 0.1,8.7 682.4,122.2 682.4,122.7 "/>
<polygon class="st0" fill="white" points="-0.4,0.2 -0.4,124.2 1365.6,124.2 1365.6,0.2 681.6,62.2 "/>
</svg>


